<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="container">
        <h1>Mes albums</h1>
        <a href="/create">Nouvel album</a>

    </div>
    <div class="listeAlbum">
        <ul>
            <% mesAlbums.forEach((monalbum) => { %>
                <li>
                    <a href="/albums/<%=monalbum.id %>">
                        <%= monalbum.title %>
                        (<%=monalbum.images.length %>)
                    </a>
                    <a href="/albums/<%= monalbum.id %>/delete">Supprimer</a>
                </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>