<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div>
        <div class="containerAlbumUnique">
            <a href="/albums"> &lt; Retour </a>
            <%= monAlbumVue.title %>
        </div>
        <div class="formulaireImage">
            <h5>Ajouter une image</h5>
            <form method="POST" action="/albums/<%=monAlbumVue._id %>" enctype="multipart/form-data">
                <input type="file" name="image">
                <button type="submit">Ajouter</button>
            </form>
        </div>
        <% monAlbumVue.images.forEach((image, index) => { %>
            <div>
                <img src="/uploads/<%= monAlbumVue._id %>/<%= image %>" alt="">
                <div>
                    <h5>Titre</h5>
                    <a href="/albums/<%= monAlbumVue._id %>/delete/<%= index %>">Supprimer</a>
                </div>
            </div>
        <% }) %>
       
     
    </div>
</body>
</html>